#card-style {
    width: 400px;
    max-width: 400px;
}

#card-style:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#card-title {
    font-weight: bold;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-button {
    background-color: #BBE1FA;
    color: #222831;
    border-color: #BBE1FA;
    width: 100%;
    font-weight: 600;
    margin-top: 10px;
}

#card-image {
    height: 260px;
}


