#navbar {
    position: sticky;
    top: 0;
    z-index: 200;
}

#navbar-container {
    margin-left: 30px;
    max-width: 1416px;
    margin-right: 30px;
}

.travel-nav {
    font-size: 25px;
}

.fa-plane {
    margin-left: 5px;
    font-size: 20px;
    margin-right: 5px;
    color: #47B5FF
}

.nav-items {
    display: flex;
    align-items: center;
}

#btn-register {
    background-color: #393E46;
    border-color: #393E46;
    width: 120px;
    margin-left: 30px;
}

@media screen and (max-width: 532px) {
    #navbar {
        font-size: 14px;
    }

    .travel-nav {
        font-size: 20px;
    }

    .fa-plane {
        font-size: 16px;
    }
    
    #btn-register {
        font-size: 14px;
        width: auto;
    }
}

